body {
	background-color: powderblue;
}

h1, h2 {
	color: black;
	font-family: "Palatino", Palatino, serif;
	text-align: center;
}

h1 {
  padding: 25px 50px;
  font-size: 42px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightsteelblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px grey;
}

/*** NAVIGATION BAR CSS ***/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	padding: 14px 16px;
	width: 180px;
	color: white;
	background-color: darkblue;
}

li a:hover{
	background-color: lightsteelblue;
	color: white;
}

.active {
	background-color: lightsteelblue;
	color: white;
}

/**********************/

td {
  width: 25%;
}

div {
  margin: 20px;
}

#zeroButton {
	display: inline-block;
	padding: 25px 100px;
	font-size: 42px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: steelblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

/*#zeroButton:hover {
	background-color: blue;
}*/

#zeroButton:active {
	background-color: blue;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}

#madeButton {
	display: inline-block;
  padding: 75px 100px;
	font-size: 42px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightgreen;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

/*#madeButton:hover {
	background-color: green;
}*/

#madeButton:active {
	background-color: green;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}

#missButton {
	display: inline-block;
  padding: 75px 100px;
	font-size: 42px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightcoral;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

/*#missButton:hover {
	background-color: red;
}*/

#missButton:active {
	background-color: red;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}

#madeThreeButton {
	display: inline-block;
  padding: 75px 100px;
	font-size: 42px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightgreen;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

#madeThreeButton:active {
	background-color: green;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}

#missThreeButton {
	display: inline-block;
  padding: 75px 100px;
	font-size: 42px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightcoral;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

#missThreeButton:active {
	background-color: red;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}
