body {
	background-color: powderblue;
}

canvas {
	background-color: powderblue;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

/*** NAVIGATION BAR CSS ***/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	padding: 14px 16px;
	width: 180px;
	color: white;
	background-color: darkblue;
}

li a:hover{
	background-color: lightsteelblue;
	color: white;
}

.active {
	background-color: lightsteelblue;
	color: white;
}

/***********************/

#pauseButton {
	display: inline-block;
	padding: 20px 35px;
	font-size: 32px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: steelblue;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

#pauseButton:hover {
	background-color: blue;
}

#pauseButton:active {
	background-color: blue;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}

#zeroButton {
	display: inline-block;
	padding: 20px 35px;
	font-size: 32px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightgreen;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px grey;
}

#zeroButton:hover {
	background-color: green;
}

#zeroButton:active {
	background-color: green;
	box-shadow: 0 5px black;
	transform: translateY(4px);
