/*
Burgundy: #681929
Burgundy Shadow: #4C121D;

Ivory: #F1EFD6
Ivory Shadow: #CCCAB5;

Dusty Gold: #DBA736
Sage Green: #90A086

FADA5E - Stil de Grain Yellow
F8DE7E - Mellow Yellow
F0DC82 - Buff
EFD873 - Hansa Yellow

82A070 - Asparagus
677F59 - Asparagus Shadow
*/

body {
	background-image: url("sakurabw.png");
    	background-color: #681929;
    	background-blend-mode: multiply;
    	background-repeat: repeat;
}

.testbox1 {
	/*background-color: #F1EFD6;*/
    margin: 5%;
    height:450px;
    border-radius:25px;
    border: 15px solid #82A070;
    box-shadow: 10px 10px 5px #4C121D;

    /* Center items within this div, arranging elements vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testbox2 {
	background-color: #F1EFD6;
    margin: 5%;
    height:450px;
    border-radius:25px;
    border: 15px solid #82A070;
    box-shadow: 10px 10px 5px #4C121D;

    /* Center items within this div, arranging elements vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.separator {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
  border:1px;
  margin:5px;
  padding:8px;
}

/* Title Text */
h1 {
  font-family: "Petit Formal Script", cursive;
  font-size:64pt;
  text-align: center;
  color: #EFD873 
}

h2 {
	font-family: "Josefin Slab", serif;
	font-size:64pt;
	text-align: center;
	color: #F1EFD6
}

/* Test Box 1 */
h3 {
	font-family: "Josefin Slab", serif;
	font-size:26pt;
	text-align: center;
	color: #F1EFD6
}

/* Test Box 2 */
h4 {
	font-family: "Josefin Slab", serif;
	font-size:26pt;
	text-align: center;
	color: #681929
}

/*** NAVIGATION BAR CSS ***/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	padding: 14px 16px;
	width: 180px;
	color: white;
	background-color: darkblue;
}

li a:hover{
	background-color: lightsteelblue;
	color: white;
}

.active {
	background-color: lightsteelblue;
	color: white;
}

